
.eBox{
    width: 600px;
    height: 400px;
    display: inline-block;
}
.fBox{
    width: 600px;
    height: 400px;
    display: inline-block;
}
.gBox{
    width: 600px;
    height: 400px;
    display: inline-block;
}
.kBox{
    width: 800px;
    height: 400px;
    display: inline-block;
}